h1{font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #7eb75a;
  }
  
  p{font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #4c4c4c;
  }
  
  a{font-family: 'Montserrat', sans-serif; text-decoration: none;}
  
  #content {
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
  }
  
  #box {
    padding: 0 200px;
  }
  
  body {
      margin: 0;
      background-color: #fdfdfd;
    }
    
  /* Style the header */
  .headerqueer {
    width: 100%;
    height: 165px;
    background-image: url(images/illustrations/bannerillus.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
  }
    
  /* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.75);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url(images/logoP.png);
  background-position: center left;
  background-size: contain;
  margin-left: 25px;
  background-repeat: no-repeat;
  padding: 5px 50px;
  
}

/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  color: #494949;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: rgba(255, 255, 255, 0.511);
  color: #6da81f;
}
    
  /* Equal columns that floats next to each other */
  .column {
      float:left;
      width: 50%;
      padding: 10px;
      text-align: center;
  }
    
  /* Clear floats after the columns - No se que es esto jajaja */
  .row:after {
      content: "";
      display: table;
      clear: both;
  }
    
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
    @media screen and (max-width:600px) {
      .column {
        width: 100%;
      }
  }
  
  #table{
      width: 75%;
  }
  
  #description{
    width: 100%
  }
  
  footer {
    border-top: 1px solid rgba(119, 119, 119, 0.5);
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
  }
  
  footer p{
    color: #565656;
    font-weight: 300;
    line-height: 5px;
  }
  
  footer h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin: 0 0 0.5rem 0;}
  
  .email{color: #565656;}
  .email:hover{color: #6da81f;}
  .fa-brands{
    color: #8bbf6a;
    width:40px;
    font-size: 30px;
  }
  
  .row{
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .col{
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    width: 100%;
    min-height: 1px;
  }

  #centerimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}